.page1__flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.page1__icon {
  width: 16px;
  height: 16px;
}

.page1__icon--brand {
  color: var(--brand-blue);
}
.page1__tabs-row {
  display: flex;
  justify-content: space-between;
}
.page1__input--large input {
  min-height: 38px;
  min-width: 280px;
  font-weight: 500;
}

.page1__icon-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95em;
}

.page1__relative {
  position: relative;
}

.page1__input-absolute {
  position: absolute !important;
  right: 0;
  top: 0;
  box-sizing: unset !important;
  max-width: 280px;
}

.page1__header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page1__darkmode-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  font-size: 0.85rem;
  cursor: pointer;
}
