.ag-theme-alpine .ag-root-wrapper {
  border: none;
  box-shadow: none;
}

.ag-theme-alpine .ag-header,
.ag-theme-alpine .ag-row {
  background: var(--bg-primary);
}

.ag-theme-alpine .ag-header {
  border-bottom: none;
}

.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-cell {
  border-bottom: 1px solid var(--gray2);
}

.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-header-cell {
  font-size: 0.85em;
}

.ag-theme-alpine .ag-cell {
  padding-top: 12px;
  padding-bottom: 16px;
}
