.page1__flex-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.page1__icon {
  width: 18px;
  height: 18px;
}

.page1__icon--brand {
  color: var(--brand-blue);
}
.page1__tabs-row {
  display: flex;
  justify-content: space-between;
}
.page1__input--large input {
  min-height: 38px;
  min-width: 280px;
  font-weight: 500;
}

.page1__icon-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95em;
}

.page1__relative {
  position: relative;
}

.page1__input-absolute {
  position: absolute !important;
  right: 0;
  top: 0;
  box-sizing: unset !important;
  max-width: 280px;
}
