html,
body,
#root {
  overflow: hidden;
}

.app__outer-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__flex-container {
  display: flex;
  min-height: 0;
}

.app__main-content {
  padding: 12px 42px;
  flex: 1;
  overflow: auto;
}
